{% extends 'base.html' %}
{% load static %}
{% block title %}Create Token{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">टोकन बनाएं</h1>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label">किसान का नाम:</label>
        {{ farmer_form.name }}
    </div>

    <div class="mb-3">
        <label for="contact_number" class="form-label">संपर्क नंबर:</label>
        {{ farmer_form.contact_number }}
    </div>

    <div class="mb-3">
        <label for="village" class="form-label">पता:</label>
        {{ farmer_form.village }}
    </div>

    <div class="mb-3">
        <label for="crop_type" class="form-label">फसल का प्रकार:</label>
        <select name="crop_type" class="form-select" required>
            <option value="">फसल चुनें</option>
            <option value="गेहूं">गेहूं</option>
            <option value="चना">चना</option>
            <option value="सोयाबीन">सोयाबीन</option>
            <option value="मसूर">मसूर</option>
            <option value="धान">धान</option>
            <option value="तिवड़ा">तिवड़ा</option>
            <option value="सरसों">सरसों</option>
            <option value="मक्का">मक्का</option>
            <!-- और फसलें जोड़ सकते हैं -->
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">कब का टोकन चाहिए?</label><br>
        <input type="radio" name="token_date" value="today" checked> आज
        <input type="radio" name="token_date" value="tomorrow" class="ms-3"> कल
    </div>

    <button type="submit" class="btn btn-primary">टोकन जनरेट करें</button>
</form>

</div>
{% endblock %}
