<!-- templates/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">MandiApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="tokenDropdown" role="button" data-bs-toggle="dropdown">
              Token
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'create_token' %}">Create Token</a></li>
              <li><a class="dropdown-item" href="{% url 'view_token' %}">View Token</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mandi_rates' %}">📈 Mandi Rates</a>
          </li>
        </ul>
  
        {% if user.is_authenticated %}
          <span class="navbar-text text-white me-3">Welcome, {{ user.username }}</span>
          <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-light">Logout</button>
          </form>
          
        {% else %}
          <a class="btn btn-light" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>
  