{% extends 'base.html' %}
{% load static %}

{% block title %}Token Created{% endblock %}

{% block content %}
<div class="card shadow p-4 mb-4">
    <h1>Your Token is Generated!</h1>
    <p><strong>Token ID:</strong> {{ token.id }}</p>
    <p><strong>Arrival Time:</strong> {{ token.estimated_arrival_time }}</p>
    <p><strong>Status:</strong> {{ token.token_status }}</p>
    <div class="text-end mb-3">
        <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
    </div>
    <a href="{% url 'download_token_pdf' token.id %}" class="btn btn-primary">Download Token as PDF</a>

</div>
{% endblock %}
