{% extends 'base.html' %}
{% block title %}View Token{% endblock %}

{% block content %}
<div class="card shadow p-4 mb-4">
  <h2>Check Your Token</h2>
  <form method="post">
    {% csrf_token %}
    <label>Enter Contact Number:</label>
    <input type="text" name="contact_number" class="form-control mb-3" required>
    <button type="submit" class="btn btn-primary">View Token</button>
  </form>

  {% if token %}
    <hr>
    <h5>Token Details:</h5>
    <ul>
      <li><strong>Name:</strong> {{ token.farmer.name }}</li>
      <li><strong>Crop:</strong> {{ token.crop_type }}</li>
      <li><strong>Arrival:</strong> {{ token.estimated_arrival_time }}</li>
      <li><strong>Status:</strong> {{ token.token_status }}</li>
    </ul>
  {% elif not_found %}
    <div class="alert alert-warning mt-3">No token found for this contact number.</div>
  {% endif %}
</div>
<div class="text-end mb-3">
    <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
  </div>
  
{% endblock %}
